{{define "verify_email"}}
<div class="form-page">
    <h1>Email Verification</h1>

    {{with .Content}}
        {{if .Success}}
            <div role="alert" class="alert-info" style="text-align:center">
                Your email has been verified successfully.
            </div>
            <p style="text-align:center"><a href="/">Continue</a></p>
        {{else if .Error}}
            <div role="alert" class="alert-error">
                {{.Error}}
            </div>
            <p style="text-align:center"><a href="/">Go to home</a></p>
        {{end}}
    {{end}}
</div>
{{end}}
